.form {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.form--input_wrapper {
    display: flex;
    align-self: center;
    gap: 5%;
    margin: auto;
}

.form--input {
    text-indent: 5px;
    border: 1px solid #D5D4D8;
}

.form--input, .form--submit{
    border-radius: 5px;
    width: 200px;
    height: 35px;
}

.form--submit {
    margin-top: 15px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    letter-spacing: -0.1em;
    color: #FFFFFF;
    width: 100%;
    cursor: pointer;
}